### Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

если источник traffic_source равен yandex или google, то в source_type ставится organic
для источников paid и email из России - ставим ad
для источников paid и email не из России - ставим other
все остальные варианты берем из traffic_source без изменений

In [36]:
import pandas as pd

In [15]:
df_visit = pd.read_csv('visit_log.csv', sep = ';')
df_visit.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [34]:
def source_type(row):
    
    if row['traffic_source'] in ['yandex', 'google']:
        source_type = 'organic'
    elif row['traffic_source'] in ['paid', 'email']:
        if row['region'] in 'Russia':
            source_type = 'ad'
        else:
            source_type = 'other'
    else:
        source_type = row['traffic_source']
        
    return source_type

In [38]:
df_visit['source_type'] = df_visit.apply(source_type, axis=1)
df_visit.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

### Задание 2

В файле URLs.txt содержатся url страниц новостного сайта. 
Вам необходимо отфильтровать его по адресам страниц с текстами новостей.

Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию:
    /, 
    затем 8 цифр, 
    затем дефис. 

Выполните следующие действия:

Прочитайте содержимое файла с датафрейм
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [48]:
import re

In [50]:
df_url = pd.read_csv('URLs.txt')
df_url.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [52]:
pattern_news_page = r'/\d{8}-'

True

In [54]:
df_url[df_url.url.str.contains(r'/\d{8}-')].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

### Задание 3

Сформулировано в конце кода занятия.

В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [37]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})
data

                 keyword   shows
0    курс гривны к рублю  125076
1        доллары в рубли  114173
2  100 долларов в рублях   97534
3             курс рубля   53546

In [4]:
import pymystem3
from pymystem3 import Mystem

In [33]:
def search_lemma(keyword):
    import pymystem3
    from pymystem3 import Mystem
    
    m = Mystem()
    lemmas = m.lemmatize(keyword)
    
    lemmas_set = set(lemmas)  # удаляем дубликаты
    
    lemmas_tmp = lemmas_set.copy() # вспомогательное множество для исключению ненужных символов
    
    for word in lemmas_tmp:                 # в цикле удаляем ненужные символы
        if word.isspace():
            lemmas_set.difference_update(word)
        
    lemmas_str = ', '.join(lemmas_set) # формируем строку
    
    return lemmas_str

In [39]:
data['lemmas'] = data['keyword'].apply(search_lemma)
data

                 keyword   shows                  lemmas
0    курс гривны к рублю  125076  гривна, к, курс, рубль
1        доллары в рубли  114173        в, доллар, рубль
2  100 долларов в рублях   97534   в, доллар, 100, рубль
3             курс рубля   53546             курс, рубль