### Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [66]:
import os
import pandas as pd

data_mov = pd.read_csv('C:\\Users\\aamos\\Documents\\Education\\Netology\\Python\\ml-latest\\movies.csv')
data_rat = pd.read_csv('C:\\Users\\aamos\\Documents\\Education\\Netology\\Python\\ml-latest\\ratings.csv')

data_mov.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [67]:
data_rat.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [65]:
#формируем данные только с необходимыми столбдцами и отбираем только записи с рейтингом 5
data_rat_count = data_rat[['movieId', 'rating']]
data_rat_count = data_rat_count[data_rat_count.rating == 5.0]

#формируем дополнительный столбец, где подсчинываем количество оценок с рейтингом 5 для каждого фильма
data_rat_count['count_ratings'] = data_rat_count.groupby('movieId').rating.count()

#определяем максимальное значение количества оценок с рейтингом 5
count_rat = data_rat_count.query('rating == 5.0').count_ratings.max()

# находим ID фильмов с максимальным значением кол-ва оценок с рейтингом 5
movieID_max = data_rat_count.query(f'count_ratings == {count_rat}')

# находим фильмы с максимальным количеством оценок 5
movieID_max.merge(data_mov, how = 'left')

,movieId,rating,count_ratings,title,genres
0,589,5.0,19404.0,Terminator 2: Judgment Day (1991),Action|Sci-Fi

### Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [68]:
import os

#C:\Users\aamos\Documents\Education\Netology\Python\10._Basics_pandas

data = pd.read_csv('C:\\Users\\aamos\\Documents\\Education\\Netology\\Python\\10._Basics_pandas\\power.csv')

In [63]:
#устанавливаем фильтры
country_filter = ['Latvia','Lithuania','Estonia']
category_filter = ['4','12','21']

In [64]:
data.query(f'country == {country_filter} and category == {category_filter} and quantity > 0 and 2005<=year<=2010').groupby(['country']).quantity.sum()

country
Estonia       63440.0
Latvia        54844.0
Lithuania    122296.0
Name: quantity, dtype: float64

### Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [51]:
data_f = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')

data_f[1].head()

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1005492,-,1007996,"-0,25 %",-02504,15:17:00
1,NaN,EUR/RUB,899095,-,904590,"-0,61 %",-05495,15:16:00
2,NaN,USD/RUB,757780,-,762420,"-0,61 %",-04640,15:16:00
3,NaN,JPY/RUB,07286,-,07298,"-0,16 %",-00012,15:17:00
4,NaN,CNY/RUB,115544,-,115967,"-0,37 %",-00424,15:16:00